html {
  height: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* body {
  height: 100%;
  margin: 0;
  /* background: url('../images/67.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center; 
  background: #000;
 
} */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-family: Oxygen;
  text-decoration: none;
  color: #fff;
  font-size: .95rem;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  height: 100%;
  background: #111;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-size: 16px;
  overflow: hidden;
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
.dim{
  color: #777;
}
.navbar{
  z-index: 11;
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 0;
  background:  transparent;
}

.navbar .navbar-left {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  align-self: center;
  padding-left: 2rem;
  margin: 0;
}
.navbar .navbar-left p{
  color: #fff;
}
.navbar .navbar-left img{
  margin: 0;
}
.navbar .navbar-right{
  display: grid;
  align-items: center;
  justify-self: flex-end;
  padding-right: 2rem;
}
.navbar .navbar-center{
  align-self: flex-start;
  justify-self: center;
}
.navbar .navbar-right img{
  width: 1.8rem;
}
.navbar .navbar-center ul, .navbar .navbar-right ul{
  margin: 0;
  padding-left: 0;
}

.navbar .navbar-center ul li, .navbar .navbar-right ul li{
  display: inline-block;
  padding: 0 .5rem 1rem;
  color: #777;
  font-family: "Open Sans", arial;
  margin: 0;
  letter-spacing: 2px;
}

.navLink {
  animation: borderUnderline .5s;
}

.navLink::after{
  content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}
.navLink:hover::after{
  width: 100%;
}
.navbar .navbar-center ul li a, .navbar .navbar-right ul li a{
  font-size: 0.6875rem;
  color: #fff;
  font-weight: bold;
  opacity: .9;
}
.hamburger{
  cursor: pointer;
  display: none;
  width: 1rem;
}

.open{
  display: none;
  height: auto;
  top: 3rem;
  position: absolute;
  left: 0px;
  background: rgba(18,18,18, .97);
  width: 100%;
  transition: left .4s ease-in-out;
  z-index: 1;
  opacity: 1;
}

.close{
  display: none;
  height: auto;
  top: 3rem;
  position: absolute;
  left: -2000px;
  background: rgba(18,18,18, .97);
  width: 100%;
  transition: left .4s ease-in-out;
}
/* .navbar #sidebar{
  position: absolute;
  z-index: -1;
} */
.navbar #sidebar ul{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  width: 100%;
  padding-top: 0rem;
  background: rgba(18,18,18, .97);
}
.navbar #sidebar  ul li{
  width: 90%;
  text-align: left;
  padding: 0rem;
  text-shadow: 1px 0px 1px #000;
  border-bottom: 1px solid rgba(255,255,255, .065);
  margin-bottom: 0;
}
.navbar #sidebar  ul li a{
  font-size: 0.6875rem;
  color: #fff;
  height: 2.375rem;
  line-height: 2.375rem;
}

.navbar #sidebar ul h1{
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.nav-white{
  color: #fff;
}
hr{
  width: 90%;
  background: #fff;
  margin-bottom: 2rem;
}

.workExpand li{
display: block;
}
body div{
  height: 100%;
}

.wrapper{
  position: relative;
  height: 100%;
}

.backgroundVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: auto;
}

.overlay{
  position:fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.65);
}
.hero{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1, h2{
  font-size: 1.875rem;
  letter-spacing: .2rem;
  color: #fff;
  font-family: dosis;
  margin: 0;
  font-weight: 400;
  margin-bottom: 70px;
  line-height: 51px;
  opacity: .9;
}

 .hero div h1{
  font-size: 1.875rem;
  text-shadow: 1px 0px 5px #000; 
  letter-spacing: 51px;
  font-weight: 400;
  margin-bottom: 70px;
  line-height: 51px;
  opacity: .9;
  text-align: center;
  padding-left: 3rem;
} 

p{
  font-family: "Open Sans", Arial;
  font-size:0.9375rem;
  line-height: 1.7;
}
.hero h2{
  color: #fff;
  font-family: "Open Sans", arial;
  font-weight: 300;
  opacity: .35;
  margin: 0;
  font-size: 1.188rem;
  text-align: center;
}

.about{
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 7rem 0rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.mainPic, .mainPicAbout{
  z-index: 0;
  position: fixed;
  display: block;
  margin: 0 auto;
  width: 25rem;
  height: auto;
  bottom: 0;
}

.mainPicAbout{
  min-width: 28%;
}

.about .aboutLeft{
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.about .aboutLeft h1{
  margin: 0;
}

.about .aboutLeft h2{
  margin-bottom: 1rem;
}

.about .aboutLeft span p{
width: 100%;
font-size: 0.8125rem;
}

.about .aboutLeft ul{
  list-style: square;
}
.about .aboutLeft ul li{
  font-size: 0.8125rem;
}
.work{
  position: relative;
  z-index: 10;
  height: 100%;
}
.work .baronPage{
  padding: 6rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work .project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work .project a{
  width: 50%;
}

.work .project p{
  color: #fff;
  padding: 1rem 0;
  text-shadow: 1px 0px 5px #000;
  margin-bottom: 0;
}
.work .project img{
  display: block;
  margin: auto;
  width: 100%;
}
.work .description{
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: justify;
}

.work .description h1{
  color: #fff;
  letter-spacing: .2rem;
  margin-bottom: .5rem;
  text-align: center;
}
.work .description p{
  color: #fff;
  font-size: 0.8125rem;
}

.aboutTransition-appear{
  height: 0;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.aboutTransition-appear.aboutTransition-appear-active{
  opacity: 1;
  transition: opacity .3s ease-in-out;
}


.workTransition-appear{
  opacity: 0;
}

.workTransition-appear.workTransition-appear-active{
  opacity: 1;
  transition: opacity .3s ease-in-out;
}


.arrow{
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: 1rem;
  width: 1.5rem;
  -webkit-animation: pulse 3s infinite;
  animation: pulse 3s infinite;
  z-index: 10;
}

.arrowBack{
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: rotate(180deg); 
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-left: 1rem;
  animation: pulse 3s infinite;
  width: 1.5rem;
  z-index: 10;
}

.arrowDown{
  position: relative;
  /* left: 50%; */
  bottom: 0;
  -webkit-transform: rotate(90deg); 
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  animation: pulse 3s infinite;
  width: 1.5rem;
  z-index: 10;
}

.arrowUp{
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: rotate(90deg); 
  -ms-transform: rotate(90deg);
  transform: rotate(270deg);
  animation: pulse 3s infinite;
  width: 1.5rem;
  z-index: 10;
}

.arrowUp img{
  display: block;
  margin: auto;
  margin-right: 0;
}

.arrowDown img{
  display: block;
  margin: auto;
  margin-left: 0;
}

@keyframes pulse {
  0% {
   opacity: .2;
  }
  25%{
    opacity: 1;
  }
  50%{
    opacity: .2;
  }
  75%{
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}



.form {
  width: 20rem;
  height: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 1rem 1.5rem;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow: hidden;
}

.form h1 {
  width: 100%;
  color: #121212;
  border-bottom: 3px solid #78788c;
  margin-right:0;
  margin-bottom: 1rem;
}

.form p input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2
}

.form p textarea{
  width: 100%;
}
.form input:focus {
  border-bottom: 2px solid #78788c
}

.form p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a
}

.form button {
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all .3s
}

.form button:hover {
  background: #121212;
  color: #fff;
  border: 2px solid #121212;
}

.form span{margin:0 5px 0 15px}

@media only screen and (max-width: 600px) {
  h1, h2{
    font-size: 1.25rem;
  }
p{
  font-size:  0.9375rem;
  letter-spacing: 0;
  line-height: 2;
}
  .hero span div h1{
    font-size: 1.25rem;
    letter-spacing: 1.125rem;
    padding-left: 1rem;
    margin-bottom: 0;
  }
  .hero span div h2{
  font-size:  0.9375rem;
  }
  .navbar .navbar-left{
    padding-left: 1rem;
  }
  .work{
    height: auto;
  padding-bottom: 3rem;
  }

  html {
    font-size: 100%;
  }

  .about{
    grid-template-columns: 1fr;
    padding: 4rem 1rem;
  }
  .about .aboutLeft {
    width: 100%;
    text-align: justify;
    text-shadow: 1px 1px 5px  #000;
  }
 
  .work .project{
    padding: 0 1rem;
  }
  .work .project a{
    width: 100%;
  }
  .work .description{
    width: 100%;
    padding: 0 1rem;
  }

}

@media only screen and (max-width: 1150px) {
  .navbar{
    background: #111;
  }
  .overlay{
    display: none;
  }
  .navbar .brand, .navbar .navbar-center,  .navbar .navbar-right, .navbar .navbar-left p{
    display: none;
  }
  .hamburger, .open, .close{
    display: initial;
  }
  .navbar .sideBar{
    display: initial;
  }
  
  .arrow, .arrowBack, .arrowDown{
    display: none;
  }

  .about{
    grid-template-columns: 1fr;
  }
  .mainPicAbout{
    display: none;
  }

  .hero span div h1{
    padding-left: 2rem;
  }

  .backgroundVideo{
    display: none;
  }
}
